<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:forceDarkAllowed="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.BARRIL"
        tools:targetApi="31">
        <activity
            android:name=".ui.admin.AgregarLugarAdmin"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AgregarCervezasAdmin"
            android:exported="false" />
        <activity
            android:name=".ui.cards.CardBasico"
            android:exported="false" />
        <activity
            android:name=".ui.auth.Registrarse"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.LogIn"
            android:exported="false" />
        <activity
            android:name=".ui.cards.CardView"
            android:exported="false" />
        <activity
            android:name=".ui.cards.CardViewGrande"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBjC0YC8Y7NLq7JpdklAi6OQxNguIN3qL8" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
    </application>

</manifest>